<h1>List of Articles</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <th><%= article.title %></th>
                <th><%= article.description %></th>
                <th><%= link_to 'Show', article_path(article.id) %></th>
                <th><%= link_to 'Edit', edit_article_path(article.id) %></th>
                <th><%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: "Are your sure?"} %></th>
            </tr>
        <% end %>
    </tbody>


</table>



<% @articles.each do |article| %>

<% end %>

<th><%= link_to 'Create a new article', new_article_path %></th> | <th><%= link_to 'Home', root_path %></th> | <th><%= link_to 'About', about_path %></th>